<section class="card">
  <a href="api/product/{{id}}">
    <header>{{products.product_name}}</header>
  </a>
  <div class="card-body">
    {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
    <p>Price: {{products.price}}</p>
    <p>Stock: {{products.stock}}</p>
  </div>
</section>