<section class="card product-card" data-product-id="{{id}}">
  <a href="/api/products/{{id}}">
    <header class="product_name">{{product_name}}</header>
  </a>
  <div class="card-body product-card-body">
    <img src="{{url}}" alt="{{product_name}}" />
    <div class="price-and-stock">
      <p class="price">Price: ${{price}}.99</p>
      <p class="stock">Stock: {{stock}}</p>
    </div>
  </div>
</section>