<section class="container">
    <h3 class="shirt-name"></h3>{{shirt-name}}</h3>
    <h4>Color:{{}}</h4>
    <h4>Price:{{}}</h4>
    <h4>Stock:{{}}</h4>
    <section class="flex-row justify-center"></section>
    {{#each shirt-name as |shirt|}}
    {{> shirt-details}}
    {{/each}}
    </section>
</section>
<section class="container">
    <h3 class="pants-name"></h3>{{pants-name}}</h3>
    <h4>Color:{{}}</h4>
    <h4>Price:{{}}</h4>
    <h4>Stock:{{}}</h4>
    <section class="flex-row justify-center"></section>
    {{#each pants-name as |pants|}}
    {{> pants-details}}
    {{/each}}
    </section>
</section>
<section class="container">
    <h3 class="hats-name"></h3>{{hats-name}}</h3>
    <h4>Color:{{}}</h4>
    <h4>Price:{{}}</h4>
    <h4>Stock:{{}}</h4>
    <section class="flex-row justify-center"></section>
    {{#each hats-name as |hats|}}
    {{> hats-details}}
    {{/each}}
    </section>
</section>
<section class="container">
    <h3 class="shoes-name"></h3>{{shoes-name}}</h3>
    <h4>Color:{{}}</h4>
    <h4>Price:{{}}</h4>
    <h4>Stock:{{}}</h4>
    <section class="flex-row justify-center"></section>
    {{#each shoes-name as |shoes|}}
    {{> shoes-details}}
    {{/each}}
    </section>
</section>
<section class="container">
    <h3 class="shorts-name"></h3>{{shorts-name}}</h3>
    <h4>Color:{{}}</h4>
    <h4>Price:{{}}</h4>
    <h4>Stock:{{}}</h4>
    <section class="flex-row justify-center"></section>
    {{#each shorts-name as |shorts|}}
    {{> shorts-details}}
    {{/each}}
    </section>
</section>